/* imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* end of imports */

/* General */
html,body {
    font-family: 'Raleway', sans-serif !important;
}
.mainSection {
    padding-top: 20px !important;
}

/* end of General*/

 /* sections Background Colors*/
#Landing{
    background-image: url("../imgs/IMG_3339.png");
    background-size: cover;
}
#About{ background-color: #e1e1e1;}
#Technologies{background-color: #e8e8e8;}
#Projects{background-color: #f0f0f0;}
#Contact{background-color: #f7f7f7;}
/* end of section background colors*/

/* Helping classes */
.vh-75 {

    min-height: 75vh !important;
}

.vh-60 {

    min-height: 60vh !important;
}

.vh-50 {

    min-height: 50vh !important;
}

.vh-40 {

    min-height: 50vh !important;
}

.vh-25 {

    min-height: 25vh !important;
}

.vh-10 {

    min-height: 10vh !important;
}

.spacer {

    height: 20px !important;
    display: block;
    width: 100% !important;
}

/* end of helping classes*/

/* header section */
.bg-dark-nav {
    background: rgba(52, 58, 64, 0.6) !important;
}

/* end of header */

/* about  section */
#aboutMeParagraph {


}

#aboutMeParagraph p {

    font-size: 1.4rem !important;
}

#aboutMeParagraph b {

    font-size: 1.7rem !important;
}

/* end of about  section */

/* Technologies section */

#Technologies .card{
    background-color: transparent !important;
}
.technologyImg{

    width: 150px !important;
    height: 150px !important;
}
/* end of Technologies section */

/*   projects section  */

/* hover effect on img for projects*/
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #343a40;

}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}
.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
}



.hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/* end of hover effect classes*/

.slideShow img {

    max-height: 380px !important;
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

.projectImg {
    max-height: 260px !important;
    height: 100%;

}
.projectBlock{

    margin-bottom: 15px;
}

/* end of projects section */

/* contact section */
.contactLead {
    font-size: 120%;
    font-weight: 600;
}

.smallIcon {
    max-width: 1vh;
    margin-left: 0.3px !important;

}

.btn-blue{
    color: #fff;
    background-color: #51b6f6;
    border-color: #51b6f6;
}
.btn-blue:hover{
    color: #fff;
    background-color: #169ef3;
    border-color: #169ef3;
}
.btn-red{
    color: #fff;
    background-color: #ff5c5c

;
    border-color: #ff5c5c

;
}
.btn-red:hover{
    color: #fff;
    background-color: #ff3333;
    border-color: #ff3333;
}

.form-control:focus {
    border-color: #071932;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* end of contact section */


/* footer section*/
footer {
    padding-top: 3px;
}

/* end of footer section*/